<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Clinica Virtual | Buscar turnos</title>
</head>
<body>
    <header>
        <h1>Consulta sobre turnos</h1>
        <nav>
            <ul>
                <li>
                    <a href="pacientes.html">Pacientes</a>
                    <ul>
                        <li>
                            <a href="buscar-pacientes.html">Buscar pacientes</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="odontologos.html">Odontólogos</a>
                    <ul>
                        <li>
                            <a href="buscar-odontologos.html">Buscar odontólogos</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="turnos.html">Turnos</a>
                    <ul>
                        <li>
                            <a href="buscar-turnos.html">Buscar turnos</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <form th:action="@{/logout}" method="POST">
            <input type="submit" value="Cerrar sesión" />
        </form>
    </header>
    <main>
        <section>
            <h2>Buscar un turno por ID</h2>
            <form id="buscarForm">
                <label for="buscar">
                    <span>Buscar</span>
                    <input type="text" name="buscar" id="buscar" />
                </label>
                <input type="submit" value="Agregar" />
            </form>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>ID paciente</th>
                        <th>Nombre del paciente</th>
                        <th>ID odontólogo</th>
                        <th>Nombre del odontólogo</th>
                        <th>Fecha y hora</th>
                    </tr>
                </thead>
                <tbody id="info"></tbody>
            </table>
        </section>
    </main>
    <footer>
       <p>Copyright &copy; 2021 - Gianna Russo</p> 
    </footer>
    <script src="/js/buscar-turnos.js"></script>
</body>
</html>