<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Clinica Virtual | Buscar pacientes</title>
    <link rel="stylesheet" href="css/style.css" />
</head>
<body>
    <header>
        <h1>Consulta sobre pacientes</h1>
        <div>
            <nav>
                <ul>
                    <li><a href="index.html">Inicio</a></li>
                    <li>
                        <a href="pacientes.html">Pacientes</a>
                        <ul>
                            <li>
                                <a href="buscar-pacientes.html">Buscar pacientes</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="odontologos.html">Odontólogos</a>
                        <ul>
                            <li>
                                <a href="buscar-odontologos.html">Buscar odontólogos</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="turnos.html">Turnos</a>
                        <ul>
                            <li>
                                <a href="buscar-turnos.html">Buscar turnos</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <form th:action="@{/logout}" method="POST">
                <input type="submit" class="salir" value="Cerrar sesión" />
            </form>
        </div>
    </header>
    <main class="alta">
        <section>
            <h2>Buscar un paciente por ID</h2>
            <form id="buscarForm">
                <label for="buscar">
                    <span>Buscar</span>
                    <input type="text" name="buscar" id="buscar" />
                </label>
                <input type="submit" class="enviar" value="Agregar" />
            </form>
            <h3>Resultado de búsqueda</h3>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>DNI</th>
                        <th>Domicilio</th>
                        <th>Fecha de alta</th>
                    </tr>
                </thead>
                <tbody id="info"></tbody>
            </table>
        </section>
    </main>
    <footer>
       <p>Copyright &copy; 2021 - Gianna Russo</p> 
    </footer>
    <script src="/js/buscar-pacientes.js"></script>
</body>
</html>