<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Clinica Virtual | Home</title>
</head>
<body>
    <header>
        <h1>Bienvenido a Clinica Virtual</h1>
        <nav>
            <ul>
                <ul>
                    <li>
                        <a href="lista-pacientes.html">Pacientes</a>
                        <ul>
                            <li>
                                <a href="buscar-pacientes.html">Buscar pacientes</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="lista-odontologos.html">Odontólogos</a>
                        <ul>
                            <li>
                                <a href="buscar-odontologos.html">Buscar odontólogos</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="lista-turnos.html">Turnos</a>
                        <ul>
                            <li>
                                <a href="buscar-turnos.html">Buscar turnos</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </ul>
        </nav>
        <form th:action="@{/logout}" method="POST">
            <input type="submit" value="Cerrar sesión" />
        </form>
    </header>
    <body>
        <h2>Lorem ipsum</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, sit nulla? Similique dignissimos molestiae a ut debitis laudantium illum ad! Accusantium quibusdam reprehenderit sunt sint culpa nam omnis consequatur incidunt?</p>
    </body>
    <footer>
       <p>Copyright &copy; 2021 - Gianna Russo</p> 
    </footer>
</body>
</html>