<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Clinica Virtual | Odontólogos</title>
</head>
<body>
    <header>
        <h1>Consulta sobre odontólogos</h1>
        <nav>
            <ul>
                <li><a th:href="@{/pacientes}">Pacientes</a></li>
                <li><a th:href="@{/odontologo}">Odontólogos</a></li>
                <li><a th:href="@{/turnos}">Turnos</a></li>
            </ul>
        </nav>
        <form th:action="@{/logout}" method="POST">
            <input type="submit" value="Cerrar sesión" />
        </form>
    </header>
    <body>
        <section>
            <h2>Dar de alta a un odontólogo</h2>
            <form id="agregar">
                <label for="matricula">
                    <span>Matrícula</span>
                    <input type="text" name="matricula" id="matricula" />
                </label>
                <label for="nombre">
                    <span>Nombre</span>
                    <input type="text" name="nombre" id="nombre" />
                </label>
                <label for="apellido">
                    <span>Apellido</span>
                    <input type="text" name="apellido" id="apellido" />
                </label>
                <input type="submit" value="Agregar" />
            </form>
            <div id="response" style="display:none; margin-top:10px">
            </div>
        </section>
        <section>
            <h3>Lista de odontólogos</h3>
            <table>
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Matrícula</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Eliminar</th>
                </tr>
                </thead>
                <tbody id="info"></tbody>
            </table>
        </section>
        <section>
            <h3>Lista de odontólogos</h3>
            <form id="modificar">
                <label for="id_modificar">
                    <span>ID</span>
                    <input type="text" name="id" id="id_modificar" />
                </label>
                <label for="matricula_modificar">
                    <span>Matrícula</span>
                    <input type="text" name="matricula" id="matricula_modificar" />
                </label>
                <label for="nombre_modificar">
                    <span>Nombre</span>
                    <input type="text" name="nombre" id="nombre_modificar" />
                </label>
                <label for="apellido_modificar">
                    <span>Apellido</span>
                    <input type="text" name="apellido" id="apellido_modificar" />
                </label>
                <input type="submit" value="Modificar" />
            </form>
        </section>
    </body>
    <footer>
       <p>Copyright &copy; 2021 - Gianna Russo</p> 
    </footer>
    <script type="text/javascript" src="/js/odontologos.js"></script>
</body>
</html>