<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Clinica Virtual | Pacientes</title>
</head>
<body>
    <header>
        <h1>Consulta sobre pacientes</h1>
        <nav>
            <ul>
                <li>
                    <a href="pacientes.html">Pacientes</a>
                    <ul>
                        <li>
                            <a href="buscar-pacientes.html">Buscar pacientes</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="odontologos.html">Odontólogos</a>
                    <ul>
                        <li>
                            <a href="buscar-odontologos.html">Buscar odontólogos</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="turnos.html">Turnos</a>
                    <ul>
                        <li>
                            <a href="buscar-turnos.html">Buscar turnos</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <form th:action="@{/logout}" method="POST">
            <input type="submit" value="Cerrar sesión" />
        </form>
    </header>
    <main>
        <section>
            <h2>Dar de alta a un paciente</h2>
            <form id="agregar">
                <label for="nombre">
                    <span>Nombre</span>
                    <input type="text" name="nombre" id="nombre" />
                </label>
                <label for="apellido">
                    <span>Apellido</span>
                    <input type="text" name="apellido" id="apellido" />
                </label>
                <label for="dni">
                    <span>DNI</span>
                    <input type="number" name="dni" id="dni" />
                </label>
                <label for="domicilio">
                    <span>Domicilio</span>
                    <input type="text" name="domicilio" id="domicilio" />
                </label>
                <label for="fechaDeAlta">
                    <span>Fecha de alta</span>
                    <input type="date" name="fechaDeAlta" id="fechaDeAlta" />
                </label>
                <input type="submit" value="Agregar" />
            </form>
        </section>
        <section>
            <h3>Lista de pacientes</h3>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>DNI</th>
                        <th>Domicilio</th>
                        <th>Fecha de alta</th>
                        <th>Editar</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody id="info"></tbody>
            </table>
        </section>
        <section id="modificar">
            <h3>Modificar paciente</h3>
            <form>
                <label for="id_modificar">
                    <span>ID</span>
                    <input type="number" name="id" id="id_modificar" disabled />
                </label>
                <label for="nombre_modificar">
                    <span>Nombre</span>
                    <input type="text" name="nombre" id="nombre_modificar" />
                </label>
                <label for="apellido_modificar">
                    <span>Apellido</span>
                    <input type="text" name="apellido" id="apellido_modificar" />
                </label>
                <label for="dni_modificar">
                    <span>DNI</span>
                    <input type="number" name="dni" id="dni_modificar" />
                </label>
                <label for="domicilio_modificar">
                    <span>Domicilio</span>
                    <input type="text" name="domicilio" id="domicilio_modificar" />
                </label>
                <label for="fechaDeAlta_modificar">
                    <span>Fecha de alta</span>
                    <input type="date" name="fechaDeAlta" id="fechaDeAlta_modificar" />
                </label>
                <input type="submit" value="Modificar" />
            </form>
        </section>
    </main>
    <footer>
       <p>Copyright &copy; 2021 - Gianna Russo</p> 
    </footer>
    <script src="/js/pacientes.js"></script>
</body>
</html>