<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Clinica Virtual | Turnos</title>
    <link rel="stylesheet" href="css/style.css" />
</head>
<body>
    <header>
        <h1>Consulta sobre turnos</h1>
        <div>
            <nav>
                <ul>
                    <li><a href="index.html">Inicio</a></li>
                    <li>
                        <a href="pacientes.html">Pacientes</a>
                        <ul>
                            <li>
                                <a href="buscar-pacientes.html">Buscar pacientes</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="odontologos.html">Odontólogos</a>
                        <ul>
                            <li>
                                <a href="buscar-odontologos.html">Buscar odontólogos</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="turnos.html">Turnos</a>
                        <ul>
                            <li>
                                <a href="buscar-turnos.html">Buscar turnos</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <form th:action="@{/logout}" method="POST">
                <input type="submit" class="salir" value="Cerrar sesión" />
            </form>
        </div>
    </header>
    <main class="alta">
        <section id="agregar">
            <h2>Sacar turno</h2>
            <p class="error none">El turno no se pudo agregar debido a un error. Verifique haber completado los campos requeridos.</p>
            <form>
                <label for="paciente">
                    <span>ID Paciente*</span>
                    <input type="number" name="paciente" id="paciente" />
                </label>
                <label for="odontologo">
                    <span>ID Odontólogo*</span>
                    <input type="number" name="odontologo" id="odontologo" />
                </label>
                <label for="fecha">
                    <span>Fecha*</span>
                    <input type="date" name="fecha" id="fecha" />
                </label>
                <label for="hora">
                    <span>Hora*</span>
                    <input type="time" name="hora" id="hora" />
                </label>
                <input type="submit" class="enviar" value="Agregar" />
            </form>
        </section>
        <section id="listado-turnos" class="filtro-semana">
            <div>
                <h3>Lista de turnos</h3>
                <button id="btn-semana">Filtrar por semana</button>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>ID paciente</th>
                        <th>Nombre del paciente</th>
                        <th>ID odontólogo</th>
                        <th>Nombre del odontólogo</th>
                        <th>Fecha y hora</th>
                        <th>Editar</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody id="info"></tbody>
            </table>
        </section>
        <section id="listado-semanal" class="filtro-semana">
            <div>
                <h3>Lista de turnos semanales</h3>
                <button id="btn-todos">Ver todos</button>
            </div>
            <table>
                <thead>
                <tr>
                    <th>ID</th>
                    <th>ID paciente</th>
                    <th>Nombre del paciente</th>
                    <th>ID odontólogo</th>
                    <th>Nombre del odontólogo</th>
                    <th>Fecha y hora</th>
                </tr>
                </thead>
                <tbody id="infoSemanal"></tbody>
            </table>
        </section>
        <section id="modificar" class="none">
            <h3>Modificar paciente</h3>
            <p class="error none">El turno no se pudo modificar debido a un error. Verifique haber completado los campos requeridos.</p>
            <form>
                <label for="id_modificar">
                    <span>ID</span>
                    <input type="number" name="id" id="id_modificar" disabled />
                </label>
                <label for="paciente_modificar">
                    <span>ID Paciente*</span>
                    <input type="number" name="paciente" id="paciente_modificar" />
                </label>
                <label for="odontologo_modificar">
                    <span>ID Odontólogo*</span>
                    <input type="number" name="odontologo" id="odontologo_modificar" />
                </label>
                <label for="fecha_modificar">
                    <span>Fecha*</span>
                    <input type="date" name="fecha" id="fecha_modificar" />
                </label>
                <label for="hora_modificar">
                    <span>Hora*</span>
                    <input type="time" name="hora" id="hora_modificar" />
                </label>
                <input type="submit" class="enviar" value="Modificar" />
            </form>
        </section>
    </main>
    <footer>
       <p>Copyright &copy; 2021 - Gianna Russo</p> 
    </footer>
    <script src="/js/turnos.js"></script>
</body>
</html>